.page-header {
    padding-bottom: 8px;
    margin: 36px 0 40px;
    border-bottom: 1px solid #dddddd;
}
#bg-title {
    height: 150px;
	width:100%;
	background-image:url(../img/bg-title2.png);
	background-repeat:no-repeat;
	background-position: center right;
	padding-top: 16px;
	padding-right: 50px;
	position: absolute;
    top: 75%;
}
#bg-title p {
	color:#fff;
	font-size:65px;
}
.bg-home {
    background-image: url(../img/security-lock-fotolia.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0;
    position: relative;
    z-index: 2;
    height: 100%
}
.logo {
	width:100%;
	position: absolute;
	top: 75px;
}
.title-site {
	color: #fff;
	padding-left: 34px;
	font-size: 90%;
	padding-top: 13px;	
}

.sidebar {
  position: relative;
  float: left;
  background: #053549;
  overflow-y: auto;
  overflow-x: hidden;
  width: 225px;
  height: 100vh;
  z-index: 9001;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  padding-top: 42px;
  will-change: width;
  transition: width 0.3s, background 0.3s;
}
.sidebar + .wrapper {
  width: calc(100% - 225px);
  will-change: width;
  transition: width 0.3s;
}
.sidebar.side-bar-closed {
  width: 50px;
}
.sidebar.side-bar-closed + .wrapper {
  width: calc(100% - 50px);
}
.sidebar.side-bar-closed .sidebar-title {
  padding: 0 16px;
  max-height: 0;
  opacity: 0;
}
.sidebar.side-bar-closed ul li a {
  padding-left: 0;
}
.sidebar.side-bar-closed .sidebar-toggle:before {
  transform: translate3d(-50%, -50%, 0);
}
.sidebar .sidebar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  text-indent: 9999px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: background 0.3s;
  background-image:url(../img/ic-menu.png);
  background-repeat:no-repeat;
}

.sidebar .sidebar-menu {
  position: absolute;
  top: 180px;
  height: calc(100vh - 180px);
  border-top: 2px solid rgba(255, 255, 255, 0.05);
  overflow: auto;
  transition: height 0.3s, top 0.3s;
  will-change: height, top;
}
.bg-menu {
	background-color: rgba(0,0,0,0.2);
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
}
.sidebar ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar ul ul a {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  padding-left: 16px;
}
.sidebar ul ul ul a {
  padding-left: 32px;
}
.sidebar li {
  position: relative;
}
.sidebar li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.05);
  visibility: hidden;
}
.sidebar li.active {
  background: rgba(255, 255, 255, 0.05);
}
.sidebar li.active:after {
  visibility: visible;
}
.sidebar li.active > a {
  background: rgba(255, 255, 255, 0.05);
}
.sidebar li.active > ul > li > a {
  opacity: 1;
  max-height: 50px;
}
.sidebar a {
  display: block;
  width: 225px;
  height: 50px;
  line-height: 50px;
  padding: 0 16px 0 0;
  color: #EEEEEE;
  transition: background 0.3s, padding 0.3s cubic-bezier(0.4, 0, 0.2, 1), max-height 0.3s, opacity 0.3s;
  text-decoration: none;
  will-change: padding;
}
.sidebar a:hover, .sidebar a:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar a:focus {
  opacity: 1;
  outline-color: #0088CC;
  max-height: 50px;
}
.sidebar i {
  position: relative;
  float: left;
  width: 50px;
  line-height: 50px;
  text-align: center;
}
.sidebar .has-children > a:focus {
  outline: none;
}
.sidebar .has-children > ul:after {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.05);
}
.sidebar .has-children > ul:before {
  content: '';
  position: absolute;
  bottom: calc(100% + 7px);
  right: 14px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-top: 12px solid #EEEEEE;
  transform-origin: 50% 25% 0;
  transition: transform 0.3s;
  display: none;
}
.sidebar .sidebar-menu > .has-children > ul:before {
  display: block;
}
.sidebar .active > ul > .has-children > ul:before {
  display: block;
}
.sidebar .has-children.active > ul:before {
  transform: rotate(180deg);
}

.wrapper {
  position: relative;
  float: left;
  width: 100%;
  height: calc(100vh - 84px);
}

header {
  position: relative;
  height: 84px;
  max-height: 84px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  background: #0088CC;
  color: #FFFFFF;
  z-index: 9002;
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
header .header-title h1 {
  margin: 0;
  line-height: 84px;
  font-size: 28px;
  transition: line-height 0.3s, font-size 0.3s;
  will-change: line-height, font-size;
}

.body {
  position: relative;
  overflow: auto;
  height: 100vh;
  /*max-height: calc(100vh - 84px);*/
  background: #FFFFFF;
  transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color:#f5f5f5;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}
.container:before, .container:after {
  content: '';
  display: table-cell;
  clear: both;
}

.content-wrapper {
  margin: 0;
  padding: 0 32px;
  transition: padding 0.3s;
  will-change: padding;
}



@media screen and (max-width: 585px) {
	
.title-site {
	padding-left: 40px;
}
#bg-title-b3 p {
	color:#fff;
	font-size:40px;
}

  .sidebar {
    width: 50px;
  }
  .sidebar .sidebar-toggle {
    display: none;
  }
  .sidebar + .wrapper {
    width: calc(100% - 50px);
  }
  .sidebar .sidebar-menu {
    top: 63px;
    height: calc(100vh - 63px);
  }
  .sidebar ul li a {
    padding-left: 0 !important;
  }

  header {
    max-height: 63px;
  }
  header .header-title h1 {
    line-height: 63px;
    font-size: 20px;
  }

  .content-wrapper {
    padding: 0 20px;
  }

}

input.largerCheckbox
{
	vertical-align:top;
	width: 20px;
	height: 20px;
}

label.forCheck{
	font-weight: bold;
	text-indent: 0px;
	
}

legend.error{
	color:	#ff0000;
}

label.error{
	color:	#ff0000;
}

fieldset {
  border: 1px solid #e5e5e5;
  padding: 1.25rem;
  margin: 1.125rem 0; }
  fieldset legend {
    font-weight: normal;
    background: #f5f5f5;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem; }
table.customHistory tr td.hf {
	font-weight: normal;
	background:#003475;
	width: 18%;
	font-size: 12px;
	color: #fff;
	font-family: Arial, sans-serif;
}
table.customHistory tr td {
	vertical-align:top;
	font-size: 14px;
	color: #000000;
	font-weight: normal;
	margin-bottom: 1.250rem;
	padding: 0.300rem 0.300rem;
	font-family: Courier New, Arial, sans-serif;
}
th.customTh {
	text-align:left;
}
strongH { 
    font-weight: bold;
	color:#ff0000;
}

body.login {
  background: #F0F0F3;
}
.login-box {
  background: #fff;
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}
.reveal-modal.scroll {
  max-height: calc(100vh - 300px);
  overflow-y: auto; 
}