﻿<!-- Content Header (Page header) -->
<section class="content-header">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Issued Calls</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <!-- /.box -->
                <div class="box">
                    <div class="box-body">
                        <table id="tblPosicao" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Info</th>
                                    <th style="text-align:center; display:none">ID_P</th>
                                    <th style="text-align:center; display:none">ID_C</th>
                                    <th style="text-align:center;">Counterparty</th>
                                    <th style="text-align:center">Exposure</th>
                                    <th style="text-align:center">Margin Call</th>
                                    <th style="text-align:center">Issued Date</th>
                                    <th style="text-align:center; display:none">Documment Party</th>
                                    <th style="text-align:center; display:none">Documment Counterparty</th>
                                    <th style="text-align:center">Status</th>
                                    <th style="text-align:center">Event Date</th>
                                    <th style="text-align:center">Amount Settled</th>
                                    <th style="text-align:center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.box-body -->
        </form>
    </div>
</section>