﻿<!-- Content Header (Page header) -->
<section class="content-header">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Consulta</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" id="formPesquisa" name="formPesquisa">
            
            <div class="box-body">

                <div class="row">
                    <div class="large-4 column">
                        <label for="comboContraparte">CPF</label>
                        <input id="cpf" name="cpf" class="form-control" min="0" style="text-align:left" placeholder="CPF" value="">
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 column">
                        <label for="comboContraparte">Email</label>
                        <input name="email" id="email" class="form-control" min="0" style="text-align:left" placeholder="" value="" />
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 column">
                        <label for="Motivo">Motivo</label>
                        <select name="motivo" id="motivo" class="form-control">
                            <option value="">Motivo</option>
                            <option value="Falsidade Ideologica">Falicasidade Ideológica</option>
                            <option value="Extravio">Extravio</option>
                            <option value="Charge Back">Charge Back</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>

                </div> 

            </div>

            <div class="box-footer row">
                <div class="column">
                    <button type="button" class="btn btn-primary" name="enviar" id="enviar">Consultar</button>
                </div>
            </div>
            <br />
        </form>

            <div class="box">
                <!-- /.box -->
                <div class="box">
                    <div class="box-body">
                        <div id="resultResumo"></div>
                        <div id="result"></div>
                     
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.box-body -->
        
    </div>
</section>



<script>

   // var url = "http://10.2.0.5";
    //var port = 10007;

    var url = "http://" + $('#node')[0].value;
    var port = $('#port')[0].value;

    function getPort(cNode) {
        if (cNode == "xxx")
            port = 1111;
        else if (cNode = "xxxx")
            port = 2222;
    }

    function Node() {
        url = "http://" + $('#node')[0].value;
        port = $('#port')[0].value;
    }

    $("#enviar").click(function (event) {
        
        var getObject = function (form) {

            var serializeArray = form.serializeArray();

            var object = {};

            for (var i = 0; i < serializeArray.length; i++) {
                object[serializeArray[i].name] = serializeArray[i].value
            }

            return object;

        };
        var json = JSON.stringify(getObject($("#formPesquisa"))); 
        
        getResult(json);



    });
    
    function getResult(param) {



        Node();
        var api = url + ":" + port + "/api/example/iou?"
        + "cpf=" + $('#cpf')[0].value
        + "&email=" + $('#email')[0].value
        + "&motivo=" + $('#motivo')[0].value;
        // + "&maximal=" + agreement.maximal
        // + "&currency=" + agreement.currency
        // + "&type=" + agreement.type;

        //alert(api);
        //alert(param);

        
        $.ajax({
            type: "GET",
            //contentType: "text/plain",
            url: api,
            success: function (data) {
                //alert(data)
                CreateTableFromJSON(data, "result");
            },
            error: function (data) {
                alert(data.responseText)
            }
        });
        
        //loadResults()
    }

function loadResults() {

    var saida = '';

    //lert('loadResults');
    try {

        //alert('########## 1');
        $.getJSON("../../js/database/tempDB.json", function (data) {
            //alert('########## 1.1');
            var rs = [];
           
            rs = data;

            CreateTableFromJSON(rs, "result");
            //draw_a_table_from_json(rs, , rs , "result");
           
            /*
            for (i = 0; i < rs.length; i++) {
                saida += '<div class="row">';
                saida += '<div class="col-lg-4 band-img">';
                saida += rs[i].CPF + '|' + rs[i].email + '|' + rs[i].DeviceID + '|' + rs[i].DeviceID + '|' + rs[i].DeviceSO + '|' + rs[i].dispositivo + '|' + rs[i].MotivoFraude;
                saida += '</div>';
                saida += '</div>';
            }

            document.getElementById('result').innerHTML = saida;
            */
            


            //alert('########## 1.2');
        })
    }catch(err){
        alert(err)
    }
    //alert('fim');
}

    


    function CreateTableFromJSON(myBooks, elemento)
    {
        // EXTRACT VALUE FOR HTML HEADER. 
        // ('Book ID', 'Book Name', 'Category' and 'Price')
        var col = [];
        for (var i = 0; i < myBooks.length; i++) {
            for (var key in myBooks[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
        }

        // CREATE DYNAMIC TABLE.
        var table = document.createElement("table");

        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

        var tr = table.insertRow(-1);                   // TABLE ROW.

        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < myBooks.length; i++) {

            tr = table.insertRow(-1);

            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.innerHTML = myBooks[i][col[j]];
            }
        }

        criaResumo(i);

        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
        var divContainer = document.getElementById(elemento);
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    

    }

    function criaResumo(qtde)
    {
        var estilo = '';
        var mensagem = ''

        if (qtde > 0) {
            estilo = "background-color: red; color:white";
            mensagem = "<n>!! SUSPEITA DE FRAUDE !!</n>";
        }
        else {
            estilo = "background-color: green; color:white";
            mensagem = "";
        }

        document.getElementById('resultResumo').innerHTML = "<p style = '" + estilo + "'>Qtde Registros: " + qtde + " | " + mensagem + "</p>";
    }
    

 

</script>