﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="box box-primary">
        <div class="box-header with-border row">
            <h3 class="box-title large-6 column">Registrar Suspeita de Fraude</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" name="formSuspeitaFraude" id="formSuspeitaFraude">
            <div class="box-body">
                <div class="row">
                    <div class="large-4 column">
                        <label for="comboContraparte">CPF</label>
                        <input id="cpf" name="cpf" class="form-control" min="0" style="text-align:left"  placeholder="CPF" value="333.444.555-66">
                    </div>
                </div>


                <div class="row">
                    <div class="large-4 column">
                        <label for="comboContraparte">CEP</label>
                        <input id="cep" name="cep" class="form-control" min="0" style="text-align:left" placeholder="CEP" value="00398-013">
                    </div>
                </div>

                
                <div class="row">
                    <div class="large-4 column">
                        <label for="comboContraparte">Rua</label>
                        <input  name="rua" id="rua" class="form-control" min="0" style="text-align:left" placeholder="rua" value="Rua Focus">
                    </div>

                    <div class="large-3 column">
                        <label for="comboContraparte">Nº</label>
                        <input name="numero" id="numero" class="form-control" min="0" style="text-align:left" placeholder="numero" value="100">
                    </div>

                    <div class="large-3 column">
                        <label for="comboContraparte">Complemento</label>
                        <input name="complemento" id="complemento" class="form-control" min="0" style="text-align:left" placeholder="complemento" value="Cj 09">

                    </div>

                    <div class="large-2 column"></div>

                    </div>

                <div class="row">
                    
                    <div class="large-4 column">
                        <label for="comboContraparte">Bairro</label>
                        <input name="bairro" id="bairro" class="form-control" min="0" style="text-align:left" placeholder="bairro" value="Jardim Value">
                    </div>
                    
                    <div class="large-3 column">
                        <label for="comboContraparte">Cidade</label>
                        <input name="cidade" id="cidade" class="form-control" min="0" style="text-align:left" placeholder="cidade" value="São Paulo">
                    </div>

                    <div class="large-1 column">
                        <label for="comboContraparte">UF</label>
                        <input name="uf" id="uf" class="form-control" min="0" style="text-align:left" placeholder="UF" value="SP">
                    </div>

                    <div class="large-4 column"></div>

                    </div>


                <div class="row">
                    <div class="large-4 column">
                        <label for="comboContraparte">Celular</label>
                        <input name="celular" id="celular" class="form-control" min="0" style="text-align:left" placeholder="" value="(11) 98877-5544">
                    </div>

                    <div class="large-3 column">
                        <label for="comboContraparte">Tel. Res</label>
                        <input name="telResidencial" id="telResidencial" class="form-control" min="0" style="text-align:left" placeholder="" value="(11) 2233-5544">
                    </div>

                    <div class="large-3 column">
                        <label for="comboContraparte">Data Nasc.</label>
                        <input name="dataNascimento" id="dataNascimento" class="form-control" min="0" style="text-align:left" placeholder="" value="08/12/1987">
                    </div>

                    <div class="large-2 column"> </div>

                </div>

                <div class="row">
                    <div class="large-4 column">
                        <label for="comboContraparte">Email</label>
                        <input name="email" id="email" class="form-control" min="0" style="text-align:left" placeholder="" value="email@gmail.com" />
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 column">
                        <label for="comboContraparte">Nome Mãe</label>
                        <input name="nomeMae" id="nomeMae" class="form-control" min="0" style="text-align:left" placeholder="" value="Valdineia Silva">
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 column">
                        <label for="comboContraparte">Profissão</label>
                        <input name="profissao" id="profissao" class="form-control" min="0" style="text-align:left" placeholder="" value="Analista Sofredor">
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 column">
                        <label for="comboContraparte">Renda Inferida</label>
                        <input name="rendaInferida" id="rendaInferida" class="form-control" min="0" style="text-align:left" placeholder="" value="1650,00">
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 column">
                        <label for="comboContraparte">Device</label>
                        <input name="device" id="device" class="form-control" min="0" style="text-align:left" placeholder="Device" value="Xabc.a8co.xo8h">
                    </div>

                </div>
                
                <div class="row">
                    <div class="large-4 column">
                        <label for="comboContraparte">IP</label>
                        <input name="ip" id="ip" class="form-control" min="0" style="text-align:left" placeholder="IP" value="10.4.1.10">
                    </div>

                </div>
                <!--
                <div class="row">
                    <div class="large-4 column">
                        <label for="comboContraparte">Dt Hr Suspeita</label>
                        <input name="dtHrSuspeita" id="dtHrSuspeita" class="form-control" min="0" style="text-align:left" placeholder="" value="05/12/2017 16:25:01">
                    </div>
                </div>
        -->
                <div class="row">
                    <div class="large-4 column">
                        <label for="comboContraparte">User Agent</label>
                        <input name="userAgent" id="userAgent" class="form-control" min="0" style="text-align:left" placeholder="user Agent" value="Agent">
                    </div>
                </div>

                <div class="row">

                    <div class="large-4 column">
                        <label for="SO">SO</label>
                        <select name="so" id="so" class="form-control">
                            <option>Sistema Operacional</option>
                            <option value="Android">Android</option>
                            <option value="IOS">IOS</option>
                            <option value="Windows">Windows</option>
                            <option value="Linux">Linux</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                </div>

 <!--               <div class="row">
                    <div class="large-3 column">
                        <label for="comboContraparte">Data / Hora</label>
                        <input name="dtHora" id="dtHora" class="form-control" min="0" style="text-align:left" placeholder="Data Hora" value="05/12/2017 12:13:00">
                    </div>
                </div>

                <div class="row">
                    <div class="large-2 column">
                        <label for="comboContraparte">Região</label>
                        <input name="regiao" id="regiao" class="form-control" min="0" style="text-align:left" placeholder="Região" value="America do Sul">
                    </div>
                </div>-->

                <div class="row">
                    <div class="large-4 column">
                        <label for="Motivo">Motivo</label>
                        <select name="motivo" id="motivo" class="form-control">
                            <option value="">Motivo</option>
                            <option value="Falsidade Ideologica">Falicasidade Ideológica</option>
                            <option value="Extravio">Extravio</option>
                            <option value="Charge Back">Charge Back</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>

                </div>   
                
            </div>
            <!-- /.box-body -->
            <div class="box-footer row">
                <div class="column">
                    <button type="button" class="btn btn-primary" name="enviar" id="enviar">Salvar</button>
                    <button type="button" class="btn btn-primary" name="canc" id="canc">Cancel</button>
                </div>
            </div>
            <div id="resultProcesso"></div>

        </form>
        <br /><br />
        <div class="box">
            <!--<div class="box-body">
                <table id="tblAgreement" class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align:center;">Party</th>
                            <th style="text-align:center">Counterparty</th>
                            <th style="text-align:center">Minimal Acceptable [Dispute]</th>
                            <th style="text-align:center">Maximal Acceptable [Call]</th>
                            <th style="text-align:center">Currency</th>
                            <th style="text-align:center">Type</th>
                            <th style="text-align:center">Creation Date</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div> -->
            <!-- /.box-body -->
        </div> 
    </div>
</section>
<script>

    var url = "http://10.2.0.23"
    var port = 10007;
    

    function getPort(cNode) {
        if (cNode == "xxx")
            port = 1111;
        else if (cNode = "xxxx")
            port = 2222;
    }

    function Node()
    {
        url = "http://" + $('#node')[0].value;
        port = $('#port')[0].value;
    }

    $("#canc").click(function (event) {
        alert(url);
        alert(port);
    });
    
    $("#enviar").click(function (event) {

        mostraRultado("processando");


        var getObject = function (form) {

            var serializeArray = form.serializeArray();

            var object = {};

            for (var i = 0; i < serializeArray.length; i++) {
                object[serializeArray[i].name] = serializeArray[i].value
            }

            return object;

        };

        var json = JSON.stringify(getObject($("#formSuspeitaFraude"))); 

        Node();
        var api = url + ":" + port + "/api/example/iou/";

        //alert(api);

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: api,
            data: json,
            success: function (data) {
                //alert("Success: " + data.responseText)
                mostraRultado('sucesso', data.responseText);
            },
            error: function (data) {
                //alert("Error: " + data.responseText)
                mostraRultado('error', data.responseText);
            }
        });

    });

    function mostraRultado(status, msgRetorno = "") {
        var estilo = '';
        var mensagem = ''

        if (status == 'error') {
            estilo = "background-color: red; color:white";
            
            mensagem = "Ocorreu uma falha. Tente novamente em instantes e se persistir, comunique o administrador com error: " + msgRetorno;
        }
        else if (status == 'processando')
        {
            estilo = "background-color: yellow;";
            mensagem = "Processando.... ";
        }
        else {
            estilo = "background-color: green; color:white";

            if (msgRetorno == undefined)
                msgRetorno = '';

            mensagem = "Suspeita gravada com sucesso." + msgRetorno;
        }

        document.getElementById('resultProcesso').innerHTML = "<p style = '" + estilo + "'>" + mensagem + "</p>";
    }




</script>