﻿<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="box box-primary">
        <div class="box-header with-border row">
            <h3 class="box-title large-6 column">Issue Call</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="row">
                    <div class="large-6 column">
                        <label for="comboContraparte">Counterparty</label>
                        <select id="comboContraparte" class="form-control" onchange="onSelectCTPY('Itau')">
                            <option>Select a counterparty...</option>
                            <option>JP</option>
                            <option>CS</option>
                        </select>
                    </div>
                    
                    <div class="large-6 column">
                        <label for="idExternalParty">ID Party</label>
                        <input id="idExternalParty" class="form-control" min="0" style="text-align:right" placeholder="A08SA0S8A">
                    </div>
                </div>   
                <div class="row">                 
                    <div class="large-4 column">
                        <label for="currency">Currency</label>
                        <select id="currency" class="form-control">
                            <option>Select a currency...</option>
                            <option>$</option>
                            <option>€</option>
                        </select>
                    </div>
                    <div class="large-4 column">
                        <label for="exposure">Exposure</label>
                        <input id="exposure" class="form-control number" min="0" style="text-align:right">
                    </div>
                    <div class="large-4 column">
                        <label for="marginCall">Margin Call</label>
                        <input id="marginCall" class="form-control number" min="0" style="text-align:right">
                    </div>
                </div>
                <div class="row">   
                    <div class="large-6 column">
                        <label for="marginCall">Issue Date</label>
                        <input id="database" class="form-control datepicker" min="0" style="text-align:right">
                    </div>
                    <div class="large-6 column">
                        <label for="documento">Attachment</label>
                        <label class="bbtn btn-default btn-file" for="my-file-selector">
                            <input id="file" type="file">
                            Upload
                        </label>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer row">
                <div class="column">
                    <button type="button" class="btn btn-primary" onclick="registrarChamada('Itau')">Issue</button>
                    <button type="button" class="btn btn-primary" onclick="window.location = '#';">Cancel</button>
                </div>
            </div>
        </form>
        <br /><br />
        <div class="box">
            <div class="box-body">
                <table id="tblAgreement" class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align:center;">Party</th>
                            <th style="text-align:center">Counterparty</th>
                            <th style="text-align:center">Minimal Acceptable [Dispute]</th>
                            <th style="text-align:center">Maximal Acceptable [Call]</th>
                            <th style="text-align:center">Currency</th>
                            <th style="text-align:center">Type</th>
                            <th style="text-align:center">Creation Date</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</section>
<script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
</script>